.content {
	padding: 1rem;
}

.content .commit-time-author {
	margin-bottom: 1rem;
}

.bold {
	font-weight: bold;
}

.extra-padding {
	padding: 1rem;
}

.entry-invalid:focus {
	box-shadow: 1px 0 #dc3545 inset, -1px 0 #dc3545 inset, 0 1px #dc3545 inset, 0 -1px #dc3545 inset;
}

emojichooser { font-family: "Noto Emoji Regular"; }
